# 空のDataFrameのPanderaでの扱い方

In [1]:
import pandera
import pandas as pd

In [13]:
class Schema(pandera.DataFrameModel):
    h3: str
    lat: float
    lon: float
    group_id: int

In [14]:
ok_df = pd.DataFrame([
    {
        "h3": "882f5a32ddfffff",
        "lat": 35.6812,
        "lon": 139.7671,
        "group_id": 100,
     }
])
Schema.validate(ok_df)

                h3      lat       lon  group_id
0  882f5a32ddfffff  35.6812  139.7671       100

In [20]:
# 空のPandasデータを作る
# dtypes.keysをちゃんと渡す必要がある
schema = Schema.to_schema()
empty_df = pd.DataFrame(columns=schema.dtypes.keys()).astype(
    {col: str(dtype) for col, dtype in schema.dtypes.items()}
)
Schema.validate(empty_df)

Empty DataFrame
Columns: [h3, lat, lon, group_id]
Index: []

In [25]:
# 空のPandasデータを作るが、dtypesがない場合
empty_df = pd.DataFrame({
    "h3": [],
    "lat": [],
    "lon": [],
    "group_id": [],
})
try:
    Schema.validate(empty_df)
except Exception as e:
    print(e)

expected series 'group_id' to have type int64, got float64