# Pandasのdictからの初期化

In [7]:
import pandas as pd

In [4]:
# listのdictから生成
data = {'A': [1, 2, 3], 'B': [4, 8, 12]}
df = pd.DataFrame(data)
print(df.dtypes)
df

A    int64
B    int64
dtype: object

   A   B
0  1   4
1  2   8
2  3  12

In [5]:
# dictのlistから生成
data = [{"A":1, "B":4}, {"A":2, "B":8}, {"A":3, "B":12}]
df = pd.DataFrame(data)
print(df.dtypes)
df

A    int64
B    int64
dtype: object

   A   B
0  1   4
1  2   8
2  3  12

In [6]:
# dictのリストから生成
data = [{"A":1, "B":4}, {"A":2, "B":8}, {"A":3, "B":12}]
df = pd.DataFrame.from_records(data)
print(df.dtypes)
df

A    int64
B    int64
dtype: object

   A   B
0  1   4
1  2   8
2  3  12

In [8]:
# listのdictから生成
data = {'A': [1, 2, 3], 'B': [4, 8, 12]}
df = pd.DataFrame.from_dict(data)
print(df.dtypes)
df

A    int64
B    int64
dtype: object

   A   B
0  1   4
1  2   8
2  3  12