In [1]:
import pandas as pd

/tmp/ipykernel_761490/4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
df1 = pd.DataFrame({"A": [1, 2, 3], "B": [4, 5, 6]})
df2 = pd.DataFrame({"A": [7, 8, 9], "B": [10, 11, 12]})

### ただ concat する場合

すると、indexが重複してしまうので、indexでひくと重複した値が取れてしまう

In [5]:
cdf = pd.concat([df1, df2])
cdf

   A   B
0  1   4
1  2   5
2  3   6
0  7  10
1  8  11
2  9  12

In [7]:
cdf.A[0]

0    1
0    7
Name: A, dtype: int64

### ingore_indexを付けてconcatする場合

indexが振り直される

In [8]:
cdf = pd.concat([df1, df2], ignore_index=True)
cdf

   A   B
0  1   4
1  2   5
2  3   6
3  7  10
4  8  11
5  9  12

In [9]:
cdf.A[0]

1